# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env


"random#secret"
"sk_test_51SnYbmKD1ouub5qIVFtBjfu0Kb0heUjahjdevnySusHsDMIAIfYAXeXh2HOpHxplroePIdQ5UTcFqmYPpEqy60Wk00vPEV0lCp"
mongodb+srv://nimharachalana_food_del:Chalana2002@cluster0.wijqlot.mongodb.net/Food-Del
